.mainDiv {
    border: 4px groove #337ab7;
    border-radius: 20px;
    width: 530px;
}

.sql_container span{
}

.sql_name {
    display: inline-block;
    width: 60px;
    margin-left: 30px;
}

.sub-btn {
    margin-left: 20px;
    /*margin-right: 25px;*/
    /*float: right;*/
}

.dwn-btn {
    /*float: right;*/
    margin-left: 30px;
    /*margin-right: 25px;*/
}

.innerDiv {
    margin-left: 30px;
}

form {
    margin-left: 40px;
}

button {
    /*white-space:nowrap;*/
    width: 103px;
}

label {
    font-family: "Noto Sans KR", \"Noto Sans KR\";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
}

#input-file {
    display: none;
}

#target_file_wrap span {
    margin-left: 20px;
}
