<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.excel.utils.mapper.DataMapper">
    <select id="findAll" resultType="dev.excel.dto.SampleVO">
        select * from sample_data2;
    </select>

    <insert id="insertData" parameterType="java.util.List" useGeneratedKeys="true">
            insert into excel_data (user_num, apply_date, apply_num, report, category, api_data, db_data)
            VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                (
                "${item.userNum}",
                "${item.applyDate}",
                "${item.applyNum}",
                "${item.report}",
                "${item.category}",
                "${item.apiData}",
                "${item.dbData}"
                )
            </foreach>
    </insert>

    <delete id="deleteAll">
        delete from excel_data;
    </delete>
</mapper>
