<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/main.css}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webuploader/0.1.1/webuploader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fileDownload/1.4.2/jquery.fileDownload.min.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Excel Web Handler</title>
</head>

<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="mainDiv">
        <div class="innerDiv">
            </br>

            <!--            <div id="picker"> 파일 </div>-->
            <input type="file" id="input-file" name="uploadFile">
            <div id="target_file_wrap">
                <a onclick="$('#input-file').click()" class="btn btn-primary">첨부파일 선택</a>
                <span></span>
            </div>

            </br></br>

            <div class="sql_container">
                <span class="sql_name">JDBC</span>
                <button type="button" name="down" value="jdbc" class="btn dwn-btn">DOWNLOAD</button>
                <button class="btn sub-btn" type="button" name="title" value="jdbc">UPLOAD</button>
                <span th:id="jdbcResult"></span>

            </div>

            </br>

            <div class="sql_container">
                <span class="sql_name">MyBatis</span>
                <button type="button" name="down" value="myBatis" class="btn dwn-btn">DOWNLOAD</button>
                <button class="btn sub-btn" type="button" name="title" value="myBatis">UPLOAD</button>
                <span th:id="myBatisResult"></span>

            </div>
            </br>


            <div class="sql_container">
                <span class="sql_name">JPA</span>
                <button type="button" name="down" value="jpa" class="btn dwn-btn">DOWNLOAD</button>
                <button class="btn sub-btn" type="button" name="title" value="jpa">UPLOAD</button>
                <span th:id="jpaResult"></span>

            </div>
            </br>

        </div>
    </div>
</form>

</body>
<script type="text/javascript">
    let title;
    let status = 0;

    $(function (){
        page.init();

        let target_id = "input-file";
        $("#" + target_id).bind('change', function (){
            selectFile(this.files, target_id);
        });

        let sql_btn = "sub-btn";
        $("." + sql_btn).bind('click', function (){
            title = this.value;
        });

        $(".dwn-btn").on("click", function (){
            download($(this).val());
        })
    });

    // 파일 선택시
    function selectFile(fileObject, target_id){
        var files = null;
        files = $('#' + target_id)[0].files;

        if (files != null) {
            for (var i = 0; i < files.length; i++) {
                var fileName = files[i].name;
                var fileNameArr = fileName.split("\."); // 확장자
                var ext = fileNameArr[fileNameArr.length - 1];
                var fileSize = files[i].size; // 파일 사이즈(단위 :byte)
                console.log("fileSize=" + fileSize);

                if (fileSize <= 0) {
                    console.log("0kb file return");
                    return;
                }
                var fileSizeKb = fileSize / 1024; // 파일 사이즈(단위 :kb)
                var fileSizeMb = fileSizeKb / 1024; // 파일 사이즈(단위 :Mb)
                var fileSizeStr = "";

                if ((1024 * 1024) <= fileSize) { // 파일 용량이 1메가 이상인 경우
                    console.log("fileSizeMb=" + fileSizeMb.toFixed(2));
                    fileSizeStr = fileSizeMb.toFixed(2) + " Mb";
                } else if ((1024) <= fileSize) {
                    console.log("fileSizeKb=" + parseInt(fileSizeKb));
                    fileSizeStr = parseInt(fileSizeKb) + " kb";
                } else {
                    console.log("fileSize=" + parseInt(fileSize));
                    fileSizeStr = parseInt(fileSize) + " byte";
                }

                // 업로드 파일 목록 생성
                $("#target_file_wrap").find('span').html('첨부 파일 : ' + fileName + ' (' + fileSizeStr + ')');
            }
        } else {
            alert("ERROR");
        }
    }

    let page = {
        init : function (){
            $(".sub-btn").click($.proxy(this.upload, this));
        },

        upload : function (){
            status = 0;
            let GUID = this.guid();
            let file = $("#input-file")[0].files[0] // 파일 객체

            if (file === undefined) {
                alert("파일을 첨부해주세요.");
                return;
            }

            let name = file.name // 파일 이름
            let size = file.size;// 총합 크기
            let shardSize = 10 * 1024 * 1024 // 파일 슬라이스 10MB
            let shardCount = Math.ceil(size / shardSize);// 파일 슬라이스의 총 수
            for (let i = 0; i < shardCount; ++i) {

                //시작과 끝 위치 각각에 대해 계산
                let start = i * shardSize
                let end = Math.min(size, start + shardSize);
                let partFile = file.slice(start, end);
                this.partUpload(GUID, partFile, name, shardCount, i);

            }
        },

        partUpload : function (GUID, partFile, name, chunks, chunk){
            let now = this;
            let form = new FormData();
            form.append("guid", GUID); // 난수
            form.append("file", partFile); // slice file
            form.append("fileName", name); // file name
            form.append("chunks", chunks);// 조각의 총 수
            form.append("chunk", chunk);// 현재는 여러 조각의 첫 번째입니다

            $.ajax({
                url         : "http://localhost:8080/part",
                type        : "POST",
                data        : form,
                async       : true, // 비동기
                processData : false,
                contentType : false,
                success     : function (data){
                    status++;
                    if (data.code == 200 && status == chunks) {
                        now.mergeFile(GUID, name);
                    }
                }
            });
        },

        mergeFile : function (GUID, name){
            let formMerge = new FormData();
            formMerge.append("guid", GUID);
            formMerge.append("fileName", name);
            $.ajax({
                url         : "http://localhost:8080/merge",
                type        : "POST",
                data        : formMerge,
                processData : false,
                contentType : false,
                success     : function (data){
                    if (data.code == 200) {
                        $.ajax({
                            url     : "/upload",
                            type    : "POST",
                            data    : {
                                title    : title,
                                filePath : data.fileName
                            },
                            success : function (response){
                                if (response.jdbc !== undefined) $("#jdbcResult").text("수행시간 : " + response.jdbc + "(s)");
                                if (response.myBatis !== undefined) $("#myBatisResult").text("수행시간 : " + response.myBatis + "(s)");
                                if (response.jpa !== undefined) $("#jpaResult").text("수행시간 : " + response.jpa + "(s)");
                            },
                            error   : function (jqXHR){
                                alert(jqXHR);
                                return;
                            }
                        });
                    }
                }
            });
        },

        guid : function (prefix){ // 난수생성
            let counter = 0;
            let guid = (+new Date()).toString(32);
            for (let i = 0; i < 5; i++) {
                guid += Math.floor(Math.random() * 65535).toString(32);
            }

            return (prefix || 'wu_') + guid + (counter++).toString(32);
        }
    };

    function download(data){
        $.ajax({
            url     : "http://localhost:8080/download",
            cache   : false,
            data    : {
                title : data
            },
            xhr     : function (data){
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function (){
                    if (xhr.readyState == 2) {
                        if (xhr.status == 200) {
                            xhr.responseType = "blob";
                        } else {
                            xhr.responseType = "text";
                        }
                    }
                };
                return xhr;
            },
            success : function (data){
                let blob = new Blob([data], {type : "application/octetstream"}); //Convert the Byte Data to BLOB object.
                let fileName = "ExcelDataSample.xlsx"

                let url = window.URL || window.webkitURL;
                link = url.createObjectURL(blob);
                let a = $("<a />");
                a.attr("download", fileName);
                a.attr("href", link);
                $("body").append(a);
                a[0].click();
                $("body").remove(a);
            }
        });
    }
</script>
</html>
