<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/main.css}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webuploader/0.1.1/webuploader.min.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Title</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="mainDiv">
        <div class="innerDiv">
            </br>

<!--            <div id="picker"> 파일 </div>-->
            <input type="file" id="input-file" name="uploadFile">
            <div id="target_file_wrap">
                <a href="#" onclick="$('#input-file').click()" class="btn btn-primary">첨부파일 선택</a>
                <span></span>
            </div>

            </br></br>

            <button class="btn" type="button" name="title" value="jdbc" onclick="upload(this.value)"> JDBC</button>
            <span th:id="jdbcResult"></span>
            </br></br>


            <button class="btn" type="button" name="title" value="myBatis" onclick="upload(this.value)"> MyBatis</button>
            <span th:id="myBatisResult"></span>
            </br></br>

            <button class="btn" type="button" name="title" value="jpa" onclick="upload(this.value)"> JPA</button>
            <span th:id="jpaResult"/>
            </br></br>

        </div>
    </div>
</form>

</body>
<script type="text/javascript">

    let title;
    let uploader;
    let GUID;

    function upload(data){
        console.log("TITLE => ", data)
        title = data;

        GUID = new WebUploader.Base.guid();// GUID
        uploader = new WebUploader.create({
            // swf 파일 경로
            swf: 'dist/Uploader.swf',
            // 파일 수신 서버&#46;
            server: 'http://localhost:8080/part',
            formData:{
                guid : GUID
            },
            pick: '#target_file_wrap',
            chunked : true,
            chunkSize : 1 * 1024 * 1024, // 각 조각의 1M,
            chunkRetry : false,
            threads : 1,// 번호.동시 업로드 프로세스의 최대 수&#46;
            resize: false
        });

        uploader.upload();

        //화재 파일이 성공적으로 업로드&#46;
        uploader.on( "uploadSuccess", function( file ) {
            $.post('http://localhost:8080/merge', {
                guid: GUID, fileName: file.name
            }, function (data) {

                console.log("T ==" , title)
                if(data.code == 200){
                    $.ajax({
                        url : "/upload",
                        type : "POST",
                        data : {
                            title : title,
                            filePath : data.fileName
                        },
                        success:function(response) {
                            if(response.jdbc != undefined) $("#jdbcResult").text("수행시간 : " + response.jdbc + "(s)");
                            if(response.myBatis != undefined) $("#myBatisResult").text("수행시간 : " + response.myBatis + "(s)");
                            if(response.jpa != undefined) $("#jpaResult").text("수행시간 : " + response.jpa + "(s)");
                        },
                        error: function (jqXHR) {}
                    });

                }
            });
        });
    }



/*
    $(document).ready(function ($){
        var target_id = "input-file";
        $("#" + target_id).bind('change', function (){
            selectFile(this.files, target_id);
        });
    }); // 파일 선택시
    function selectFile(fileObject, target_id){
        var files = null;
        var totalFileSize = 0; // 직접 파일 등록시
        files = jQuery('#' + target_id)[0].files; // 다중파일 등록
        if (files != null) {
            for (var i = 0; i < files.length; i++) { // 파일 이름
                var fileName = files[i].name;
                var fileNameArr = fileName.split("\."); // 확장자
                var ext = fileNameArr[fileNameArr.length - 1];
                var fileSize = files[i].size; // 파일 사이즈(단위 :byte)
                console.log("fileSize=" + fileSize);
                if (fileSize <= 0) {
                    console.log("0kb file return");
                    return;
                }
                var fileSizeKb = fileSize / 1024; // 파일 사이즈(단위 :kb)
                var fileSizeMb = fileSizeKb / 1024; // 파일 사이즈(단위 :Mb)
                var fileSizeStr = "";
                if ((1024 * 1024) <= fileSize) { // 파일 용량이 1메가 이상인 경우
                    console.log("fileSizeMb=" + fileSizeMb.toFixed(2));
                    fileSizeStr = fileSizeMb.toFixed(2) + " Mb";
                } else if ((1024) <= fileSize) {
                    console.log("fileSizeKb=" + parseInt(fileSizeKb));
                    fileSizeStr = parseInt(fileSizeKb) + " kb";
                } else {
                    console.log("fileSize=" + parseInt(fileSize));
                    fileSizeStr = parseInt(fileSize) + " byte";
                } // 업로드 파일 목록 생성
                jQuery("#target_file_wrap").find('span').html('첨부 파일 : ' + fileName + ' (' + fileSizeStr + ')');
            }
        } else {
            alert("ERROR");
        }
    }
 */
</script>
</html>
