<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="uploader">
    <div class="btns">
        <input id="file" name="file" type="file"/>
        <br><br data-tomark-pass><button id="startBtn">
        시작 업로드
    </button>
        </br>
        </br>
    </div>
    <div id="output">
    </div>
</div>
</body>
<script type="text/javascript">
    var status = 0;
    var page = {
        init: function(){
            $("#startBtn").click($.proxy(this.upload, this));
        },
        upload: function(){
            status = 0;
            var GUID = this.guid();
            var file = $ ("#file")[0].files[0] // 파일 객체
            var name = file.name // 파일 이름
            var size = file.size;// 총합 크기
            var shardSize = 20 * 1024 * 1024 // 슬라이스 1MB로
            var shardCount = Math.ceil(size / shardSize);// 조각의 총 수
            for(var i = 0;i < shardCount;++i){
                //시작과 끝 위치 각각에 대해 계산
                var start = i * shardSize
                var end = Math.min(size, start + shardSize);
                var partFile = file.slice(start,end);
                this.partUpload(GUID,partFile,name,shardCount,i);
            }
        },
        partUpload:function(GUID,partFile,name,chunks,chunk){
            //양식을 구축, FormData는 HTML5의 새로운
            var now = this;
            var form = new FormData();
            form.append("guid", GUID);
            form.append("file", partFile);//slice 파일의 일부를 절단하는 방법
            form.append("fileName", name);
            form.append("chunks", chunks);// 조각의 총 수
            form.append("chunk", chunk);// 현재는 여러 조각의 첫 번째입니다
            //Ajax 제출
            $.ajax({
                url: "http://localhost:8080/part",
                type: "POST",
                data: form,
                async: true, // 비동기
                processData: false,
                contentType: false,
                success: function(data){
                    status++;
                    if(data.code == 200){
                        $("#output").html(status+ " / " + chunks);
                    }
                    if(status==chunks){
                        now.mergeFile(GUID,name);
                    }
                }
            });
        },
        mergeFile:function(GUID,name){
            var formMerge = new FormData();
            formMerge.append("guid", GUID);
            formMerge.append("fileName", name);
            $.ajax({
                url: "http://localhost:8080/merge",
                type: "POST",
                data: formMerge,
                processData: false,
                contentType: false,
                success: function(data){
                    if(data.code == 200){
                        $.ajax({
                            url : "/upload",
                            type : "POST",
                            data : {
                                title : title,
                                filePath : data.fileName
                            },
                            success:function(response) {
                                if(response.jdbc != undefined) $("#jdbcResult").text("수행시간 : " + response.jdbc + "(s)");
                                if(response.myBatis != undefined) $("#myBatisResult").text("수행시간 : " + response.myBatis + "(s)");
                                if(response.jpa != undefined) $("#jpaResult").text("수행시간 : " + response.jpa + "(s)");
                            },
                            error: function (jqXHR) {}
                        });
                    }
                }
            });
        },
        guid:function(prefix){
            var counter = 0;
            var guid = (+new Date()).toString( 32 ),
                i = 0;
            for ( ; i < 5; i++ ) {
                guid += Math.floor( Math.random() * 65535 ).toString( 32 );
            }
            return (prefix || 'wu_') + guid + (counter++).toString( 32 );
        }
    };

    $(function(){
        page.init();
    });
</script>
</html>
