<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/main.css}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webuploader/0.1.1/webuploader.min.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--    <link href="css/webuploader.css" rel="external nofollow" rel="stylesheet" type="text/css" />-->
    <!--    <script type="text/javascript" src="jquery-1.10.1.min.js"></script>-->
    <!--    <script type="text/javascript" src="dist/webuploader.min.js"></script>-->
</head>

<body>
<div id="uploader">
    <div class="btns">
        <div id="picker"> 파일</div>
        <button id="startBtn" class="btn btn-default"> 시작 업로드</button>
    </div>
</div>
</body>

<script type="text/javascript">
    let GUID = WebUploader.Base.guid();// GUID
    let uploader = WebUploader.create({
        // swf 파일 경로
        swf : 'dist/Uploader.swf', // 파일 수신 서버&#46;
        server     : 'http://localhost:8080/part',
        formData   : {
            guid : GUID
        },
        pick       : '#picker',
        chunked    : true,
        chunkSize  : 1 * 1024 * 1024, // 각 조각의 1M,
        chunkRetry : false,
        threads    : 1,// 번호.동시 업로드 프로세스의 최대 수&#46;
        resize     : false
    });

    $("#startBtn").click(function (){
        uploader.upload();
    });

    //화재 파일이 성공적으로 업로드&#46;
    uploader.on("uploadSuccess", function (file){
        $.post('http://localhost:8080/merge', {
            guid     : GUID,
            fileName : file.name
        }, function (data){

            if (data.code == 200) {
                $.ajax({
                    url     : "/upload",
                    type    : "POST",
                    data    : {
                        title    : "jdbc",
                        filePath : data.fileName
                    },
                    success : function (response){
                        if (response.jdbc != undefined) $("#jdbcResult").text("수행시간 : " + response.jdbc + "(s)");
                        if (response.myBatis != undefined) $("#myBatisResult").text("수행시간 : " + response.myBatis + "(s)");
                        if (response.jpa != undefined) $("#jpaResult").text("수행시간 : " + response.jpa + "(s)");
                    },
                    error   : function (jqXHR){
                    }
                });

            }
        });
    });

    /*
let formData = new FormData();
formData.append("uploadFile", $("#input-file")[0].files[0]);
formData.append("title", obj);

console.log("jDBC : ", $("#jdbcResult").text());
console.log("jDBC : ", $("#jdbcResult").val());

$.ajax({
    url : "/upload",
    type : "POST",
    processData : false,
    contentType : false,
    data : formData,
    success:function(response) {
        if(response.jdbc != undefined) $("#jdbcResult").text("수행시간 : " + response.jdbc + "(s)");
        if(response.myBatis != undefined) $("#myBatisResult").text("수행시간 : " + response.myBatis + "(s)");
        if(response.jpa != undefined) $("#jpaResult").text("수행시간 : " + response.jpa + "(s)");
    },
    error: function (jqXHR) {}
});
*/
</script>
</html>
